<!DOCTYPE html>
<html>
<head>
    <meta charset ="UTF-8">
    <title>table 2</title>
<style>
    table, th, td, tr {
    height : 50px;
    width: 300px;
    }
</style>
</head>
<body bgcolor="#A9DFBF">
<table border=0 align=center>
<tr>
<td width="50">№</td> 
    <td>Фото</td> 
    <td>П.І.Б.</td>
</tr>
<tr>
<td>1</td>
<td>  <img src="01.jpg" width="100" height="70"></td>
<td> <a  href="призвіще.html">Голота Анастасія</a> </td>
</tr>
<tr> <td align="center">2</td>
<td> <img src="222.jpg" width="100" height="70"> </td>
<td> <a href="https://uk.wikipedia.org/wiki/The_Weeknd">Катула Надія </a></td>
</tr>

<tr>
    <td align="center">3</td>
<td> <img src="0000.jpg"  width="100" height="70"></td>
<td> <a href="https://uk.wikipedia.org/wiki/The_Weeknd">Кіра Коцько </a></td>
</tr>
<tr>
    <td align="center"> 4</td>
    <td> <img src="3333.jpg"  width="100" height="70"></td>
    <td> <a href="https://uk.wikipedia.org/wiki/%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D0%BE_%D0%86%D0%B2%D0%B0%D0%BD_%D0%AF%D0%BA%D0%BE%D0%B2%D0%B8%D1%87">
Коломоєць Микита </a></td>
</tr>
<tr>
    <td align="center"> 5</td>
    <td width="70"> <img src="444.jpg"  width="100" height="70"></td>
    <td> <a href="https://uk.wikipedia.org/wiki/%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D0%BE_%D0%86%D0%B2%D0%B0%D0%BD_%D0%AF%D0%BA%D0%BE%D0%B2%D0%B8%D1%87">
    Сакута Олександр </a></td>
</tr>
</table>
</body>
</html>
